extends HomeLayout

block insideContent
    p.about(dir="ltr")
        <br>   ?!אוהבים אוכל
        <br>
        <br>אוהב להכין אוכל אבל אין למי
        <br>
        <br>רוצה להרוויח מהיכולות הקולינריות שלך אבל לא יודע איך
        <br>
        <br>כדאי לך לקרוא את זה
        <br> האתר נועד לשמש כרשת חברתית על מנת לפרסם ולקנות אוכל בייתי הזמין וקרוב לביתכם. 
        <br> כל משתמש מוזמן לפתוח לעצמו עמוד ובו יפרסם את שלל המאכלים אותו הוא מציע למכירה או הזמנה במועד מאוחר יותר 
        <br> כמו כן, מוזמנים גם לפרסם אירועים בהם תשתתפו ותשתפו את האוכל שלכם על מנת ליידע את כל הסובבים. 
        <br>
        <br> אוהב לאכול אבל לא יודע להכין? נמאס לך ממחירי המסעדות בארץ או סתם בא לך לגוון?
        <br>כדאי לך לקרוא את זה
        <br>כל אחד מוזמן לצפות ולהירשם לאתר, 
        <br>אנחנו מאפשרים חיפוש תלוי מיקום גאוגרפי ומסננים שונים על מנת למצוא את שלל המפרסים מהאיזור שלך
        <br>תוכל להיכנס ולהתרשם מהמנות מתוצאות החיפוש, תקבל מידע כמו הסבר מפורט על המנה, מי הכין אותה, כמה היא עולה, מה הם דרכי המשלוח ולמתי תוכל להזמין אותה. 
        <br>
        <br> שורה תחתונה, מומלץ לנסות! ולכו תדעו, אולי ככה גם תכירו חברים חדשים גם מחוץ למסך.
